[submodule "Stengine/vendor/spdlog"]
	path = Stengine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Stengine/vendor/GLFW"]
	path = Stengine/vendor/GLFW
	url = https://github.com/thecherno/glfw
[submodule "Stengine/vendor/imgui"]
	path = Stengine/vendor/imgui
	url = https://github.com/thecherno/imgui
	branch = master
[submodule "Stengine/vendor/glm"]
	path = Stengine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Stengine/vendor/yaml-cpp"]
	path = Stengine/vendor/yaml-cpp
	url = https://github.com/thecherno/yaml-cpp
[submodule "Stengine/vendor/ImGuizmo"]
	path = Stengine/vendor/ImGuizmo
	url = https://github.com/thecherno/imguizmo
[submodule "Stengine/vendor/Box2D"]
	path = Stengine/vendor/Box2D
	url = https://github.com/thecherno/box2d
